<div class="container">
    <Nav class="nav-bar">
    <header>M. Castro</header>
    <a class="links">Inicio</a>
    <a class="links">Sobre</a>
    <a class="links">Projetos</a>
    <a class="links">Contate-me</a>
    </Nav>
    <main>
       <div>
        <section>
            <img src="../../../../assets/eu.png" alt="M. Castro">
        </section>
        <article></article>
       </div>
        <aside>
            <h1 class="title">Prazer, me chamo Matheus!</h1>
            <h1 class="sub-title">Desenvolvedor Full-Stack entusiasta de tecnologia. 
                Sempre a procura do conhecimento e novas experiências.
            Faça o Download do meu currículo abaixo para mais informações técnicas.</h1>
            <div class="cv">
                <p-splitButton 
                label="Save" 
                severity="contrast" 
                [model]="items">
                    <ng-template pTemplate="content">
                        <span class="flex align-items-center font-bold">
                            <i class="pi pi-download"></i>
                            <span>Baixar CV</span>
                        </span>
                    </ng-template>
            </p-splitButton>
            </div>
        </aside>
    </main>      
      

</div>