<div class="container">
    <Nav class="nav-bar" >
    <header>M. Castro</header>
    <a class="links">Inicio</a>
    <a class="links">Sobre</a>
    <a class="links">Projetos</a>
    <a class="links">Contate-me</a>
    </Nav>
    <main>
       <div>
        <section>
            <img src="../../../../assets/eu.png" alt="M. Castro">
        </section>
        <article> opa</article>
       </div>
        <aside>
            <h1 class="title">Prazer, me chamo Matheus!</h1>
            <h1 class="sub-title">Desenvolvedor Full-Stack entusiasta de tecnologia, 
                sempre a procura do conhecimento e novas experiências.
           <br> Faça o Download do meu currículo abaixo para mais informações técnicas.</h1>
         
            <div class="cv">
                
                <button class="fill-button" (click)="fillbutton()" >
                            <div class="fill-effect"></div>
                            <span class="icon"><i class="pi pi-graduation-cap"></i></span> 
                            Download
                        </button>
                </div>
        </aside>
    </main>      
      

</div>