<div class="container">
    <Nav class="nav-bar">
    <header>M. Castro</header>
    <a class="links">Inicio</a>
    <a class="links">Sobre</a>
    <a class="links">Projetos</a>
    <a class="links">Contate-me</a>
    </Nav>
    <main>
       <div>
        <section>
            <img src="../../../../assets/eu.png" alt="M. Castro">
        </section>
        <article></article>
       </div>
        <aside>
            <h1>Prazer, me chamo Matheus!</h1>
            <h1>teste</h1>
        </aside>
    </main>      
      

</div>