@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.container{
    height: 100vh;
    width: 100%;
    background-color: #081b19;
    display: grid;
    grid-template-rows: 10% 90%;
        
    .nav-bar{
        grid-row: 1;
        display: grid;
        grid-template-columns: 60% 1fr 1fr 1fr 1fr;
        gap: 1%;
        align-items: center;
        width: 100%;
        background-color: transparent;
        header{
            height: 20%;
            font-size: medium;
            text-decoration: none;
            color: white;
            
            padding-left: 5%;
        }
        a{
            color: white;
            transition: .3s;
            height: 20%;
        }
        a:hover{
            color: #00abf0;
            cursor: click;
            font-size: 105%;
        }
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
       

        div{       
            display: grid;
            grid-template-rows: 3fr 1fr;

            section{
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 60%;
                    max-height: 100%;
                    object-fit: contain;
                    }
                img:hover{
                    animation: moveimagem 8s ease-in-out infinite;

                }
               

            }
        }
    }
    aside{
        max-height: 100%;
        display: grid;
        grid-template-rows: 2fr 2fr 3fr;
        background-color:#081b19;
        justify-content: center;
    
        h1:nth-child(1){
            align-self: end;
        }
        h1:nth-child(2){
            text-align: center;
            align-self: center;
        }
        .title{
            max-width: 80%;
            max-height: 30%;
            font-size: 150%;
            font-family: "JetBrains Mono";
            text-align: center;
            color: white;
            white-space: nowrap;
            overflow: hidden;
            border-right: 2px solid;
            width: 0;
            animation: typing 4s steps(27, end) forwards, blink-caret 0.75s 4s steps(20, end) forwards;
            
        }
        .sub-title{
            max-width: 80%;
            font-size: 100%;
            font-family: "JetBrains Mono";
            text-align: center;
            color: white;
        }
    }
    
}
@keyframes moveimagem {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(5%) translateY(5%); 
    }
    75% {
        transform: translateX(-7%) translateY(7%); 
      }
    100% {
      transform: translateX(0) translateY(0); 
    }
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, 
    to { border-color: transparent; }
    50%{ border-color: black; }
    100%{ border-color: transparent;}
}